body {
  background-color: rgb(31, 28, 28);
}

.brand {
  margin-left: 1rem;
}

.shift-right {
  margin-left: auto;
}

.handwrite-font-fam {
  font-family: "Satisfy", cursive;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  font-weight: bolder;
}

.hide {
  display: none;
}

.inverter {
  filter: invert(100);
  padding: 0px;
  height: 2px;
}

#toggler {
  height: 2rem;
  width: 3rem;
}
