/* basic body , html end */
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 247, 247);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* basic body , html end */

/* nav bar */
.navbar {
  background-color: rgb(31, 30, 30);
  padding: 20px;
  position: sticky;
  top: 0px;
  width: 100vw;
  z-index: 999;
  outline: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 10px;
}
.brand {
  margin-left: 1rem;
}

.shift-right {
  margin-left: auto;
}

#toggler {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  display: none;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-around;
}

.lines {
  height: 3px;
  width: 25px;
  background: #ffffff;
  transform: translate(-45%, -25%);
  margin: 2px;
}

/* nav bar portion end */

/*  media query brk pt for navbar and also for pushing body section downwards */

@media (max-width: 1100px) {
  .navbar-nav {
    position: absolute;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    padding-left: 2rem;
    overflow: hidden;
  }
  #toggler {
    display: inline-block;
  }
  .nav-items {
    display: block;
  }
  .margin-default {
    margin-top: 11rem;
    transition: all 0.5s ease;
  }
}

.fade-out {
  transform: translateY(-150%);
}
/* media query brk pr part end */

/* about portion in heading */
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
  width: 100%;
}

.title-container {
  background-color: rgb(31, 30, 30);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  min-height: 80vh;
}
#pp {
  height: 30vh;
  margin: 20px auto;
  border-radius: 23% 77% 75% 25% / 53% 31% 69% 47%;
  outline: none;
  transition: 0.5s all ease;
  box-shadow: 1px 10px 5px #f1f1f1;
  border: 0px;
}
/* about portion in heading end */

/* technology part */

.myContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px auto;
  width: 100vw;
  padding: 50px;
  transition: 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}

.gifs {
  margin: 20px auto;
  user-select: none;
  pointer-events: none;
}

.images {
  margin: 20px auto;
  height: 10rem;
}

.inner-container {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.spin {
  animation-name: spinner;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.faded-lr {
  opacity: 0;
  min-height: 30%;
  transform: translateX(-100%);
}

.faded-rl {
  opacity: 0;
  min-height: 30%;
  transform: translateX(100%);
}

.appear-in-lr {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1s ease;
}

.appear-in-rl {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1s ease;
}
/* technology part end */

/* project gallery */
.sliderclass {
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  display: flex;
}

.slider-img {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
}

.sliderimghover {
  opacity: 0.45;
  filter: blur(1px);
  transition: all 0.3s ease;
  overflow: hidden;
}

.prj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 20px auto;
  height: 80vh;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  overflow: hidden;
}
.prj-container > h3 {
  color: rgb(201, 199, 199);
}

#slider-btns {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.hide-visit-btn {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.active-visit-btn {
  border: 2px solid brown;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  position: absolute;
  left: 40%;
  top: 50%;
  display: flex;
}

/* project gallery end */

/* contact part + footer */
.container-fluid {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  width: 100vw;
  background-color: rgb(31, 30, 30);
}

.contactform {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  min-height: 80%;
  justify-content: space-around;
}
.inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px auto;
  justify-content: space-evenly;
}

.ip {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(168, 38, 38);
  border-radius: 4px;
  margin: 5px;
  width: 60%;
  padding: 5px 10px;
  box-sizing: border-box;
  overflow: inherit;
  transition: all 0.3s ease;
  font-weight: bolder;
  color: rgb(168, 38, 38);
  letter-spacing: 0.1em;
}

.ip:hover,
.ip:focus {
  background: rgb(201, 184, 184);
  color: rgb(168, 38, 38);
}

.footer {
  display: flex;
  min-width: 90vw;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;
}

/* contact part + footer  end */

/* body section misc */

.seperator {
  border-top: 5px solid white;
  border-style: groove;
  outline: none;
  display: block;
  margin: 100px auto;
  width: 20%;
}
.margin-default {
  margin-top: 0rem;
}

/* body section misc end */

/* misc */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  opacity: 0.9;
}
.towhite {
  color: black;
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.back-to-top a {
  text-decoration: none;
  color: blanchedalmond;
}

.handwrite-font-fam {
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  font-weight: bolder;
  color: rgb(218, 218, 218);
  text-align: center;
}
